asgiref==3.8.1
bcrypt==4.3.0
blankimage-pil==0.1.1
cffi==1.17.1
cryptography==45.0.2
customtkinter==5.2.2
darkdetect==0.8.0
Django==5.2.2
fabulous==0.4.0
fonttools==4.58.1
gunicorn==23.0.0
packaging==25.0
pillow==10.4.0
pycparser==2.22
pyfiglet==1.0.2
PyMySQL==1.1.1
PyTkAnim==1.0.2
sqlparse==0.5.3
tzdata==2025.2
whitenoise==6.9.0
